body {
    background-color: #4e8b81;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.menu-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link li {
    list-style: none;
    position: relative;
    padding: 0 20px;
}

.menu-link li a {
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    color: antiquewhite;
    transition: 0.3s ease-in-out;
}

.menu-link li a:hover,.menu-link li a.active {
    color: aqua;
}

.menu-link li .active:hover::after, .menu-link ul li .active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: aqua;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
